li {
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px 0;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.form-container{
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px 0;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

input {
  width: 100px;
  text-align: center;
}